#bg {
    width: 100%;
    height: 100vh;
}

#head {
    width: 100%;
    height: 10vh;
}

#icon {
    width: 130px;
    height: 140px;
    margin-top: -200px;
    vertical-align: middle;
    margin-left: 100px;
    cursor: pointer;
}

#maintext {
    width: 100%;
    height: 200px;
    font-size: 150px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    cursor: pointer;
}

/* #imgA {
    display: inline-block;
} */

#img1 {
    width: 1000px;
    height: 1200px;
    margin-left: 800px;
    margin-top: 100px;
    position: absolute;
    cursor: pointer;
}

#img2 {
    width: 1050px;
    height: 1300px;
    margin-left: 3300px;
    margin-top: 50px;
    position: absolute;
}

#img3 {
    width: 1300px;
    height: 1000px;
    margin-left: 5800px;
    margin-top: 200px;
}

#text1-1 {
    width: 300px;
    height: 100px;
    font-size: 90px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 1000px;
    margin-top: px;
    position: absolute;
    cursor: pointer;
}

#text1-2 {
    width: 300px;
    height: 100px;
    font-size: 90px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 3500px;
    position: absolute;
}

#text1-3 {
    width: 300px;
    height: 100px;
    font-size: 90px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 6030px;
    position: absolute;
}

#text2-1 {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 1150px;
    margin-top: 230px;
    position: absolute;
    cursor: pointer;
}

#text2-2 {
    color: #afaeae;
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 3700px;
    margin-top: 230px;
    position: absolute;
    text-decoration:line-through;
}

#text2-3 {
    color: #afaeae;
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 6300px;
    margin-top: 230px;
    position: absolute;
    text-decoration:line-through;
}

#img4 {
    width: 1050px;
    height: 1300px;
    margin-left: 700px;
    margin-top: -200px;
    position: absolute;
}

#img5 {
    width: 1600px;
    height: 1200px;
    margin-left: 3100px;
    margin-top: -200px;
    position: absolute;
}

#img6{
    width: 1600px;
    height: 1200px;
    margin-left: 5600px;
    margin-top: -200px;
    position: absolute;
}

#text3-1 {
    width: 300px;
    height: 100px;
    font-size: 90px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 900px;
    margin-top: 850px;
    position: absolute;
}

#text3-2 {
    width: 300px;
    height: 100px;
    font-size: 90px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 3700px;
    margin-top: 850px;
    position: absolute;
}

#text3-3 {
    width: 300px;
    height: 100px;
    font-size: 90px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 6200px;
    margin-top: 850px;
    position: absolute;
}

#text4-1 {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 1150px;
    margin-top: 1000px;
    position: absolute;
}

#text4-2 {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 3770px;
    margin-top: 1000px;
    position: absolute;
}

#text4-3 {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 6270px;
    margin-top: 1000px;
    position: absolute;
}

#text5-1 {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 3700px;
    margin-top: -550px;
    position: absolute;
}

#text5-2 {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: "Judson", serif;
    font-weight: bolder;
    font-style: normal;
    margin-left: 6300px;
    margin-top: -550px;
    position: absolute;
}